### FIT CONFIGURATION ###
fit FITNAME
reaction LOOPREAC REACNAME

loop LOOPREAC khyperon0 khyperon45 khyperon90 khyperon135
loop LOOPDATA INDIR/CHANNEL/out/TBIN/tree_TREE_PARA_0_SIGNAL_SKIM.root INDIR/CHANNEL/out/TBIN/tree_TREE_PERP_45_SIGNAL_SKIM.root INDIR/CHANNEL/out/TBIN/tree_TREE_PERP_90_SIGNAL_SKIM.root INDIR/CHANNEL/out/TBIN/tree_TREE_PARA_135_SIGNAL_SKIM.root

loop LOOPBKGND INDIR/CHANNEL/out/TBIN/tree_TREE_PARA_0_SIDEBANDS_SKIM.root INDIR/CHANNEL/out/TBIN/tree_TREE_PERP_45_SIDEBANDS_SKIM.root INDIR/CHANNEL/out/TBIN/tree_TREE_PERP_90_SIDEBANDS_SKIM.root INDIR/CHANNEL/out/TBIN/tree_TREE_PARA_135_SIDEBANDS_SKIM.root

loop LOOPBKGNDWEIGHT INDIR/CHANNEL/out/TBIN/tree_TREE_PARA_0_SIDEBANDS_SKIM.root.weight INDIR/CHANNEL/out/TBIN/tree_TREE_PERP_45_SIDEBANDS_SKIM.root.weight INDIR/CHANNEL/out/TBIN/tree_TREE_PERP_90_SIDEBANDS_SKIM.root.weight INDIR/CHANNEL/out/TBIN/tree_TREE_PARA_135_SIDEBANDS_SKIM.root.weight

loop LOOPNORM NIFILE0.ni NIFILE45.ni NIFILE90.ni NIFILE135.ni

genmc LOOPREAC FSRootDataReader INDIR/CHANNEL/out/TBIN/tree_thrown_PSMCGEN_SKIM.root ntFSGlueX_FSGLUEX_GEN 3 MC
accmc LOOPREAC FSRootDataReader INDIR/CHANNEL/out/TBIN/tree_TREE_PSMC_SIGNAL_SKIM.root ntFSGlueX_FSGLUEX 3

data  LOOPREAC FSRootDataReader LOOPDATA ntFSGlueX_FSGLUEX 3
bkgnd LOOPREAC FSRootDataReader LOOPBKGND ntFSGlueX_FSGLUEX 3 LOOPBKGNDWEIGHT ntFSGlueX_FSGLUEX_weight weight

normintfile LOOPREAC LOOPNORM

#determined from rho decay asymmetry
parameter polAngle0     1.77 fixed
parameter polAngle45   47.85 fixed
parameter polAngle90   94.50 fixed
parameter polAngle135 -41.57 fixed

#alternative: fit angles
#parameter polAngle0     1.77 bounded -10.0  10.0
#parameter polAngle45   47.85 bounded  35.0  55.0
#parameter polAngle90   94.50 bounded  80.0 100.0
#parameter polAngle135 -41.57 bounded -55.0 -35.0

loop LOOPPOLANG [polAngle0] [polAngle45] [polAngle90] [polAngle135]

# single sum for polarized intensity
sum LOOPREAC khyperonPol
amplitude LOOPREAC::khyperonPol::khyperonAmp KHyperon [alpha] [Sigma] [Ox] [P] [T] [Oz] LOOPPOLANG 0.35

# initialize parameters
parameter alpha 0.732 fixed
parameter Sigma 0.0
parameter Ox  0.0
parameter P   0.0
parameter T   0.0
parameter Oz  0.0

# randomize parameters
keyword parRange 3 3
parRange Sigma -1.0 1.0
parRange Ox    -1.0 1.0
parRange P     -1.0 1.0
parRange T     -1.0 1.0
parRange Oz    -1.0 1.0

initialize LOOPREAC::khyperonPol::khyperonAmp cartesian 1.0 0.0 real
