# PROJECT INFO
VERBOSE=False

BATCH_SYSTEM=qsub

WORKFLOW_NAME=gen_omegapi #SWIF workflow name

# RESOURCES for swif jobs
NCORES=1:vortex:1               # Number of CPU cores
TIMELIMIT=03:00:00              # Max walltime
RAM=2GB                         # Max memory

# OUTPUT DATA LOCATION 
DATA_OUTPUT_BASE_DIR=/sciclone/data10/amschertz/pomegapi/simulation01/ # change this to your own output file location (likely somewhere on data10)

# JOB RUNNING LOCATION

RUNNING_DIRECTORY=/sciclone/scr10/amschertz/TMPDIR/ # change this to your username for a temporary directory on the scratch disk (scr10)


#environment file location
ENVIRONMENT_FILE=/sciclone/home2/amschertz/wm_gluex/setup.csh #change this to your own environment file

GENERATOR=genr8
GENERATOR_CONFIG=/sciclone/home2/amschertz/wm_gluex/batch/simulation/omegapi.in
eBEAM_ENERGY=11.6
COHERENT_PEAK=8.8
GEN_MIN_ENERGY=6.0
GEN_MAX_ENERGY=11.6

GEANT_VERSION=3
BKG=None #BeamPhotons


CUSTOM_MAKEMC=/sciclone/home2/amschertz/wm_gluex/batch/simulation/MakeMC.csh

#CUSTOM_MAKEMC=/sciclone/home10/jrstevens01/wm_gluex/batch/simulation/MakeMC.csh

