# PROJECT INFO
VERBOSE=False

BATCH_SYSTEM=qsub

WORKFLOW_NAME=gen_pi0 #SWIF workflow name

# RESOURCES for swif jobs
NCORES=1:vortex:1               # Number of CPU cores
TIMELIMIT=00:60:00              # Max walltime
RAM=2GB                         # Max memory

# OUTPUT DATA LOCATION 
DATA_OUTPUT_BASE_DIR=/sciclone/data10/jrstevens01/RunPeriod-2017-01/simulation/gen_pi0_zach/ # change this to your own output file location (likely somewhere on data10)

# JOB RUNNING LOCATION
RUNNING_DIRECTORY=/sciclone/scr10/jrstevens01/TMPDIR/ # change this to your username for a temporary directory on the scratch disk (scr01)

#environment file location
ENVIRONMENT_FILE=/sciclone/home10/jrstevens01/wm_gluex/setup.csh #change this to your own environment file

GENERATOR=gen_pi0
GENERATOR_CONFIG=/sciclone/home10/jrstevens01/wm_gluex/batch/simulation/vmRegge_PARA.cfg
eBEAM_ENERGY=11.6
COHERENT_PEAK=8.8
GEN_MIN_ENERGY=6.0
GEN_MAX_ENERGY=11.6

GEANT_VERSION=3
BKG=None #BeamPhotons

#CUSTOM_MAKEMC=/sciclone/home10/jrstevens01/wm_gluex/batch/simulation/MakeMC.csh
