#THESE TWO ARE OPTIONAL IF THE STANDARD RUNNING DOESN'T SUIT YOUR NEEDS
#CUSTOM_MAKEMC=use-this-script-instead
#CUSTOM_GCONTROL=use-this-Gcontrol-instead
#========================================================================

RUNNING_DIRECTORY=/sciclone/scr10/jrstevens01/TMPDIR/KKpi/ #where the code should run.  This is defaulted to ./.  Use only when NEEDED
DATA_OUTPUT_BASE_DIR=/sciclone/gluex10/jrstevens01/test/ #your desired output location

NCORES=1:vortex:1      # Number of CPU threads to use or nodes:node-id:ppn or nodes:ppn depending on your system

GENERATOR=gen_amp #or you may specifile file:/.../file-to-use.hddm
GENERATOR_CONFIG=/sciclone/home10/jrstevens01/analysisGluexI/KKpi/gen_KKpi_simple.cfg

GEN_MIN_ENERGY=8.0
GEN_MAX_ENERGY=11.6

GEANT_VERSION=4
BKG=None #[None, Random:[TAG], BeamPhotons, TagOnly, custom e.g bg.hddm:1.8] Can be stacked eg Random:[TAG]+TagOnly:.123 where the :[num] defines BGRATE

#ANA_ENVIRONMENT_FILE=your-analysis-environment-file #optional either a .(c)sh file to be sourced or .xml before the below plugins are run

#optional additional plugins that will be run along side danarest and hd_root.  This should be a comma separated list (e.g. plugin1,plugin2)
CUSTOM_PLUGINS=file:/sciclone/home10/jrstevens01/analysisGluexI/KKpi/jana.conf
#====================================================================================
#EVERYTHING BELOW FOR BATCH ONLY

#VERBOSE=True
BATCH_SYSTEM=qsub #can be swif or condor or osg or qsub adding :[name] will pass -q [name] into PBS. 

#environment file location
ENVIRONMENT_FILE=/sciclone/home10/jrstevens01/analysisGluexI/builds/setup.csh     #change this to your own environment file

WORKFLOW_NAME=test #SWIF WORKFLOW NAME
PROJECT = gluex          # http://scicomp.jlab.org/scicomp/#/projects
TRACK= simulation          # https://scicomp.jlab.org/docs/batch_job_tracks

# RESOURCES for swif jobs
DISK=5GB            # Max Disk usage
RAM=5GB            # Max RAM usage
TIMELIMIT=00:59:59      # Max walltime.  This may be of the form xx:xx:xx depending on your system
